.town-list-container {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    gap: 2rem !important;
}

@media (min-width: 768px) {
    .town-list-container {
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
        width: 100% !important;
    }
}